* .row {
  /*display: flex;*/
  /*justify-content: space-evenly;*/
}
.cell,
.cells {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0px;
}

.cell {
  background-color: #333;
}

.cells {
  background-color: darkred;
}

.checker {
  margin: 10px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.black-piece {
  background-color: #dc143c;
}

.black-checker {
  background-color: #111;
}

.red-turn-text {
  text-align: center;
  color: black;
  font-family: "open sans";
  font-size: 55px;
}

.black-turn-text {
  text-align: center;
  font-family: "open sans";
  font-size: 55px;
  color: lightgray;
}
